<p id="notice"><%= notice %></p>

<p>
  <strong>Champion:</strong>
  <%= @skin.champion %>
</p>

<p>
  <strong>Name:</strong>
  <%= @skin.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @skin.type %>
</p>

<p>
  <strong>Hair length:</strong>
  <%= @skin.hair_length %>
</p>

<p>
  <strong>Hair color string:</strong>
  <%= @skin.hair_color_string %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @skin.armor %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @skin.gender %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @skin.faction %>
</p>

<p>
  <strong>Race:</strong>
  <%= @skin.race %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @skin.difficulty %>
</p>

<p>
  <strong>Wings:</strong>
  <%= @skin.wings %>
</p>

<%= link_to 'Edit', edit_skin_path(@skin) %> |
<%= link_to 'Back', skins_path %>
